@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: #23242a;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #000000, #1c1c1c, #1c1c1c67, #a09d9d);
    background-size: 300% 300%;
    animation:color 8s  ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.box {
    position: relative;
    height: 555px;
    width: 485px;
    /* background: #ffffffbf; */
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s linear;
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 0 5px 15px rgba(238, 226, 226, 0.5);
}

.box:hover:before {
    border-color: #888686;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
    border-color: #888686;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.box form {
    position: absolute;
    inset: 4px;
    background: #1a1919;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box form h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.box form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 25px;
}

.box form .inputBox input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: .05s;
    z-index: 10;
}

.box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px); 
}
.box form .inputBox input::placeholder {
    color: #aaa;
}

.box form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
    height: 4px;
}

.box form .links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    font-size: 0.8em;
}

.box form .links a {
    margin: 10px 0;
    font-size: 1em;
    color: #aaa;
    text-decoration: none;
}

.box form .links a:hover {
    color: #fff;
}

.box form input[type="submit"] {
    width: 200px;
    height: auto;
    float: left;
    transition: all 0.5s ease;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    background: #fff;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(4, 207, 221, 0.5);
}

.box form input[type="submit"]:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box form input[type="submit"]:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box form input[type="submit"]:hover {
    background: #1f1d1f;
    color: #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    transform: translateY(-3px);
}

.box form input[type="submit"]:hover:before {
    border-color: #fff;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box form input[type="submit"]:hover:after {
    border-color: #fff;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.box form input[type="submit"]:active {
    transform: translateY(1px);
    box-shadow: 0 0 10px rgba(70, 19, 211, 0.5);
}

.remeberBtn {
    color: gray;
    font-size: 15px;
}

#loading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}
#loading div {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    margin: 1px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#loading .two {
    animation-delay:.5s;
}
#loading .three {
    animation-delay:1s;
}

@keyframes loading{
    to{
        background-color: #444243;
        transform:translateY(-20px);
        opacity: 0.5;
    }
}
#loading.hideMe{
    display: none;
}

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('img/Mountains.jpg');
    background-size: cover;
    background-position: center;
    animation: bgZoomIn 4s ease-in-out 1 forwards;
    z-index: -1;
    pointer-events: none;
}

.banner::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('img/after.png');
    background-size: cover;
    background-position: top;
    transform: scale(2);
    animation: bgZoomOut 4s ease-in-out 1 forwards;
    z-index: -1;
    pointer-events: none;
}

@keyframes bgZoomIn {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes bgZoomOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}


@media (max-width:600px) {
    .box form h2 , input{
        font-size: medium;
    }
    .box form input[type="submit"]{
        width: 100%;
    }
}