/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); */

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    align-items: center;
}

/* aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
} */

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    min-height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
    overflow: hidden;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a#logout{
    /* position: absolute;
    bottom: 1rem;
    width: 100%; */
    order: 1;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


/* start main */



main{
    margin-top: 1.4rem;
}

main .analyse{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.6rem;
    text-align: center;
}

main .analyse > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analyse > div:hover{
    box-shadow: none;
}

main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .analyse .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .analyse svg{
    width: 7rem;
    height: 7rem;
}

main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .analyse .sales svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .visits svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .searches svg circle{
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.analyse i{
    font-size: 40px;
    padding-right:10px;
}
main .new-section{
    margin-top: 1.3rem;
}

main .new-section .section-list , .search-list{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
main .search-list{
    display: flex;
    cursor: default;
    flex-direction: column;
}
main .search-list div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main .search-list i{
    transition: 0.5s;
    font-size: 50px;
}
main .search-list div input{
    flex: 1;
    padding: 15px;
    font-size: 15px;
    border: 2px dashed gray;
    border-radius: 5px;
}
main .new-section .section-list:hover ,main .new-section:hover{
    box-shadow: none;
}
main .new-section .section-list i {
    transition: 0.5s;
    font-size: 100px;
}
main .new-section .section-list:hover i ,main .new-section:hover i{
    rotate: 360deg;
    color: #1B9C85;
}

main .new-section .section-list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .new-section .section-list .user img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}

main .add-user{
    margin-top: 1.3rem;
}

main .add-user h2{
    margin-bottom: 0.8rem;
}

main  table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main  table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .add-user a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.right-section{
    margin-top: 1.4rem;
}

.right-section .nav , nav{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.right-section .nav button , nav button{
    display: none;
}

.right-section .dark-mode ,nav .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span , nav .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section  .dark-mode span.active , nav .dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right-section .nav .profile , nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
    align-items: center;
}
.profile .profile-photo{
    border: 2px solid var(--color-dark);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile .profile-photo i{
    font-size: 18px;
}
.right-section  a{
    color: var(--color-dark);
    border:2px solid;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: bold;
    text-transform: capitalize;
    transition: 0.5s;
    overflow: hidden;
}
.right-section a:hover{
    background-color: var(--color-dark);
    color: var(--color-primary);
}
.right-section .user-profile{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .user-profile:hover{
    box-shadow: none;
}

.right-section .user-profile img{
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.right-section .user-profile h2{
    margin-bottom: 0.2rem;
}

.right-section .allWsInfo{
    margin-top: 1rem;
}

.right-section .allWsInfo .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.right-section .allWsInfo .header span{
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 50%;
}

.right-section .allWsInfo .WSInfo{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .allWsInfo .WSInfo:hover{
    box-shadow: none;
}

.right-section .allWsInfo .WSInfo .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.right-section .allWsInfo .WSInfo .icon{
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-dark);
    border-radius: 20%;
    display: flex;
}

.right-section .allWsInfo .WSInfo.deactive .icon{
    background-color: var(--color-danger);
}
.right-section .allWsInfo .WSInfo .icon i{
    font-size: 40px;
}

.right-section .allWsInfo .add-reminder{
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-section .allWsInfo .add-reminder:hover{
    background-color: var(--color-primary);
    color: white;
}

.right-section .allWsInfo .add-reminder div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 95%;
        /* grid-template-columns: 8rem auto 23rem; */
    }

    /* aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    } */

    aside .sidebar a{
        width: 5.6rem;
    }


    main .analyse{
        gap: 20px;
    }

    main .new-section .section-list .user{
        flex-basis: 40%;
    }

    main .add-user {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .add-user table{
        width: 83vw;
    }


}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-section .section-list .user{
        flex-basis: 35%;
    }

    main .add-user{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .add-user table{
        width: 100%;
        margin: 0;
    }

    /* .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    } */

    .right-section .nav , nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .right-section .nav .dark-mode , nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info{
        display: none;
    }


    .right-section .nav button , nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .nav button span , nav button span{
        font-size: 2rem;
    }

}

/* Popup content */
.popup-content{
    background-color: var(--color-dark-variant);
    width: 625px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    padding: 20px;
    position: relative;
}
.close_btn{
    position: absolute;
    z-index: 1;
    font-size: 20px;
    top: 13px;
    right: 20px;
    cursor: pointer;
}
/* Initial state of the popup */
.pop-up{
    z-index: 1;    
    position: fixed;
    top: -80%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.6s;
}
.pop-up.showPopUp  {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
}
  .popup-content form > div {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .popup-content form > div input, .popup-content form > div select {
    text-align: center;
    padding: 5px;
    border: 2px solid gray;
    /* height: 30px; */
    border-radius: 10px;
    font-size: 12px;
    outline: none;
    width: 300px;
  }
  .popup-content form div:last-of-type input {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    transition: 500ms;
    border: none;
    border-radius: 15px;
    background-color: var(--color-background);
    height: 30px;
    margin: 0 10px;
    border: 1px solid;
    color: var(--color-dark-variant);
    width: 100%
}
  .popup-content form div:last-of-type input:hover {
    background-color: black;
    color: #FBFBFB;
  }


main table button , .pop-up input[type="submit"] , .popup-content div:last-of-type input{
    text-transform: capitalize;
    margin: 10px;
    padding: 7px 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
main table button.view{
    background-color: var(--color-primary);
    color: var(--color-background);
}
main table button.edit{
    background-color: var(--color-primary);
    color: var(--color-background);
}
main table button.del{
    color: var(--color-danger);
    border-color:var(--color-danger) ;
}
main table button.del:hover{
    border-color: unset;
    color: var(--color-background);
    background-color:var(--color-dark);
}

nav{
    padding: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 20px var(--color-dark-variant);
}
.login , .upload a {
    background-color: var(--color-background);
    padding: 7px 27px;
    border: 2px solid;
    border-radius: 20px;
    font-size: 12px;
    transition: 0.3s;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
}
.login:hover , .upload a:hover{
    background-color: var(--color-light);
    color: var(--color-primary);
}
nav .dark-mode{
    position: unset;
}

.main-page{
    height: 50px;
    background-color: #1B9C85;
    display: flex;
    align-items:center;
    justify-content: center;
}
.upload{
    display: inline;
}
.sidebar i{
    font-size: 20px;
    padding-left: 10px;
}

input[type="file"]{
    flex: 1;
}
input[type="file"]:hover {
    background: #5b86e5;
}
input[type="file"]::file-selector-button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #ff6b6b;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}
input[type="file"]::file-selector-button:hover {
    background: #ff4e50;
}
input[type="button"]{
    cursor: pointer;
}
input[name='ID']{
    pointer-events: none;
    opacity: 0.4;

}
#image-preview {
    max-width: 100%;
    max-height: 100%;
}
#msgwarning{
    padding: 8px;
    color: var(--color-danger);
}
/* .files{
    padding: 20px;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.files > a{
    display: block;
    border-radius: 15px;
    text-align: center;
    background-color: #1B9C85;
    padding: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.files > a:hover{
    background-color: var(--color-dark);
    color: var(--color-background);
}
.files > a i{
    font-size: 60px;
    color: var(--color-background);
} */