<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <title>Responsive Dashboard Design </title>
</head>
<body>
    <div class="pop-up" id="create-WS-popUp" >
        <div class="close_btn">
            <i class="fa-solid fa-xmark"></i>
        </div>
            <div class="popup-content" >
                <h2>create new work Section</h2>
                <form>
                    <div>
                    <h4>work section name</h4>
                        <input type="text" name="workSectionName">
                    </div>
                    <div class="message"></div>
                    <div>
                        <input type="submit" id="SendBtn" value="send">
                        <input type="button" id="ColseBtn" value="close">
                    </div>
                </form>
        </div>
    </div>
    <div class="pop-up" id="update-WS-popUp">
        <div class="close_btn">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="popup-content">
            <h2>update User</h2>
            <form>
                <div>
                    <h4>ID</h4>
                    <input type="text" name="ID" >
                </div>
                <div>
                    <h4>work section name</h4>
                        <input type="text" name="workSectionName">
                    </div>
                <div class="message"></div>
                <input type="submit" id="Btn" value="send">
        </div>
    </div>
    <div class="pop-up" id="delete-WS-popUp">
        <div class="close_btn">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="popup-content">
            <h2>Delete user</h2>
            <h3 id="msgwarning"></h3>
            <div class="message"></div>

            <div>
                <input type="button" value="confirm">
                <input type="button" value="cancel">
            </div>
        </div>
    </div>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="img/port-said-university.webp">
                    <h2>Admin<span class="danger"></span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/home" >
                    <i class="fa-solid fa-house"></i>
                    <h3>home</h3>
                </a>
                <a href="/adminDashBoard/">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Users</h3>
                </a>
                <a href="/adminDashBoard/workSection" class="active">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>work section</h3>
                </a>
               
                <a href="/login" id="logout">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <main>
            <!-- start Analytics -->
            <h1>Analytics</h1>
            <div class="analyse">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>Users</h3>
                            <h1 id="userNum"></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+81%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>douments</h3>
                            <h1 id="docNum">24,981</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>-48%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>work section</h3>
                            <h1 id="workSectionNum"></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+21%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>regular user</h3>
                            <h1 id="regUsrNum"></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+21%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>admin</h3>
                            <h1 id="AdminNum"></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+21%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Analytics -->

            <div class="new-section">
                <h2>New Users</h2>
                <div class="section-list" >
                    <div class="user">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->
            <div class="add-user">
                <h2>Users</h2>
                <div class="content"></div>
            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Reza</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="img/profile-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="img/port-said-university.webp">
                    <h2>portsaid university</h2>
                    <p>faculty of science</p>
                </div>
            </div>

        </div>


    </div>

    <script src="js/index.js"></script>
    <script src="js/workSection.js"></script>
</body>

</html>