<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/Portsaid University.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/aboutUs.css">
    <title>about Us</title>
</head>

<body>
    <nav>
        <div class="navContent">
            <button id="menu-btn">
                <span class="material-icons-sharp">
                    menu
                </span>
            </button>
            <div class="dark-mode">
                <span class="material-icons-sharp active">
                    light_mode
                </span>
                <span class="material-icons-sharp">
                    dark_mode
                </span>
            </div>

            <div class="profile">
                <div class="info">
                    Welcome Back <h4 class="user-name"></h4>
                </div>
                <div class="profile-photo">
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>
            <a href="/login" id="login">login</a>

        </div>
    </nav>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>
            <div class="sidebar">
                <div class="files">
                    <div class="userInfo">
                        <div class="profile-photo">
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="info">
                            user : <h4 class="user-name"></h4>
                        </div>
                    </div>
                    <a href="/home" class="folder ">
                        <i class="fa-solid fa-house"></i>
                        <h3>Home</h3>
                    </a>
                    <a href="/hall" class="">
                        <i class="fa-solid fa-table"></i>
                        <h3>Hall</h3>
                    </a>
                    <a href="/documents" class="" >
                        <i class="fa-solid fa-file-invoice"></i>
                        <h3>documents</h3>
                    </a>
                    <a href="/upload" class="" >
                        <i class="fa-solid fa-upload"></i>
                        <h3>upload</h3>
                    </a>
                    <a href="/aboutUs" class="active" >
                        <i class="fa-solid fa-people-group"></i>
                        <h3>about us</h3>
                    </a>
                </div>
                <div class="loginDiv">
                    <a href="/login" id="logout">
                        <span class="material-icons-sharp">
                            logout
                        </span>
                        <h3>Logout</h3>
                    </a>
                </div>
            </div>
        </aside>
        <div class="container-aboutUs">
            <div class="aboutUs-Box">
                <div class="user-icon fram">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="info">
                    <div>
                        <h2>Hany Mohammed Awadin</h2>
                        <p>Bachelor Of Science,Port Said University</p>
                    </div>
                    <div>
                        <div class="link">
                            <a href="" class="github"><i class="fa-brands fa-github"></i></a>
                            <a href="" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="" class="facebook"><i class="fa-brands fa-square-facebook"></i></i></a>
                            <a href="" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="aboutUs-Box">
                <div class="user-icon fram">
                    <!-- <img src="assets/images/1706458173101-01.jpeg" alt=""> -->
                </div>
                <div class="info">
                    <div>
                        <h2>Mahmoud Ibrahim Osman</h2>
                        <p>Bachelor Of Science,Port Said University</p>

                    </div>
                    <div>
                        <div class="link">
                            <a href="" class="github"><i class="fa-brands fa-github"></i></a>
                            <a href="" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="" class="facebook"><i class="fa-brands fa-square-facebook"></i></i></a>
                            <a href="" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="aboutUs-Box">
                <div class="user-icon">
                    <!-- <i class="fa-regular fa-user"></i> -->
                    <img src="assets/images/WhatsApp Image 2025-04-28 at 02.06.20_de8a4dc6-fotor-bg-remover-2025050243526.ico"
                        alt="">
                </div>
                <div class="info">
                    <div>
                        <h2>Mohammed Ahmed Ramadan</h2>
                        <p>Bachelor Of Science,Port Said University </p>
                    </div>
                    <div>
                        <div class="link">
                            <a href="https://github.com/mo7ammedramadaan" class="github"><i
                                    class="fa-brands fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/mohamed-ramadan-b075431b0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/share/1ETHjgKpUC/" class="facebook"><i
                                    class="fa-brands fa-square-facebook"></i></i></a>
                            <a href="https://www.instagram.com/mo7ammedramadaan?igsh=MWN2cmtzZThoczAxNA=="
                                class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="aboutUs-Box">
                <div class="user-icon">
                    <!-- <i class="fa-regular fa-user"></i> -->
                    <!-- <img src="assets/images/WhatsApp Image 2025-04-28 at 02.06.20_de8a4dc6-fotor-bg-remover-2025050243526.ico"
                    alt=""> -->
                </div>
                <div class="info">
                    <div>
                        <h2>Moaaz Ashraf Hemdan</h2>
                        <p>Bachelor Of Science,Port Said University</p>
                    </div>
                    <div>
                        <div class="link">
                            <a href="https://github.com/Moaaz-Ashraf-HA" class="github"><i
                                    class="fa-brands fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/moaz-ashraf-hemdan-ahmed-7b484529b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/share/1GEzP85Rbe/" class="facebook"><i
                                    class="fa-brands fa-square-facebook"></i></i></a>
                            <a href="https://www.instagram.com/mo3az_ashraf?igsh=MTZ0dDhubmVkaWg2eg=="
                                class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="aboutUs-Box">
                <div class="user-icon">
                    <!-- <i class="fa-regular fa-user"></i> -->
                    <!-- <img src="assets/images/WhatsApp Image 2025-04-28 at 02.06.20_de8a4dc6-fotor-bg-remover-2025050243526.ico"
                        alt=""> -->
                </div>
                <div class="info">
                    <div>
                        <h2>Taha Ahmed Elsehrawy</h2>
                        <p>Bachelor Of Science,Port Said University</p>
                    </div>
                    <div>
                        <div class="link">
                            <a href="https://github.com/AlSahrawy" class="github">
                                <i class="fa-brands fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/taha-elsahrawy-15100324b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/share/14EN2yrnfJT/" class="facebook"><i
                                    class="fa-brands fa-square-facebook"></i></i></a>
                            <a href="https://www.instagram.com/taha_elsahrawy?utm_source=qr&igsh=MTFvdW9ma3FkbGFqaQ=="
                                class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="aboutUs-Box">
                <div class="user-icon">
                    <!-- <i class="fa-regular fa-user"></i> -->
                    <!-- <img src="assets/images/WhatsApp Image 2025-04-28 at 02.06.20_de8a4dc6-fotor-bg-remover-2025050243526.ico"
                        alt=""> -->
                </div>
                <div class="info">
                    <div>
                        <h2>Mostafa Mahmoud Elktatny</h2>
                        <p>Bachelor Of Science,Port Said University</p>
                    </div>
                    <div>
                        <div class="link">
                            <a href="https://github.com/elkoto1" class="github"><i class="fa-brands fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/mostafa-elktatny-27a542264?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/share/1AKyWLCJ9k/?mibextid=qi2Omg" class="facebook"><i
                                    class="fa-brands fa-square-facebook"></i></i></a>
                            <a href="https://www.instagram.com/mostafaelktatny?igsh=MTdlZmt2Znk3ZG4zNg=="
                                class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="aboutUs-Box">
                <div class="user-icon">
                    <!-- <i class="fa-regular fa-user"></i> -->
                    <!-- <img src="assets/images/WhatsApp Image 2025-04-28 at 02.06.20_de8a4dc6-fotor-bg-remover-2025050243526.ico"
                        alt=""> -->
                </div>
                <div class="info">
                    <div>
                        <h2>Ahmed Mohammed Abd-Alnafia</h2>
                        <p>Bachelor Of Science,Port Said University</p>
                    </div>
                    <div>
                        <div class="link">
                            <a href="" class="github"><i class="fa-brands fa-github"></i></a>
                            <a href="https://eg.linkedin.com/in/ahmed-mohamed-b718582ab" class="linkedin"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/ahmed.nafia.908" class="facebook"><i
                                    class="fa-brands fa-square-facebook"></i></i></a>
                            <a href="https://www.instagram.com/ahmed.nafia.908/" class="instagram"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="aboutUs-Box">
                <div class="user-icon">
                    <!-- <i class="fa-regular fa-user"></i> -->
                    <!-- <img src="assets/images/WhatsApp Image 2025-06-02 at 02.13.19_44bfdb92.jpg" -->
                    alt="">
                </div>
                <div class="info">
                    <div>
                        <h2>Eslam Mohammed Elabassery</h2>
                        <p>Bachelor Of Science,Port Said University</p>
                    </div>
                    <div>
                        <div class="link">
                            <a href="https://github.com/eslamelabassery" class="github"><i
                                    class="fa-brands fa-github"></i></a>
                            <a href="https://eg.linkedin.com/in/eslam-elabassery-38b94b266" class="linkedin"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/share/19NWsFkveP/" class="facebook"><i
                                    class="fa-brands fa-square-facebook"></i></i></a>
                            <a href="https://www.instagram.com/e.elabassery?igsh=MWNzZWp3ZGNpbzJ3bw=="
                                class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script src="/script/utils/jwt-decode.min.js"></script>
    <script src="/script/utils/js.cookie.min.js"></script>
    <script src="/script/utils/JsBarcode.all.min.js"></script>
    <script src="/script/index.js"></script>
</body>

</html>