<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="adminDashBoard/style/style.css">
    <title>home</title>
</head>
<body>
    <nav>
        <button id="menu-btn">
            <span class="material-icons-sharp">
                menu
            </span>
        </button>
        <div class="dark-mode">
            <span class="material-icons-sharp active">
                light_mode
            </span>
            <span class="material-icons-sharp">
                dark_mode
            </span>
        </div>
            <a class="login" href="/login">
                login
            </a>
    </nav>
    <div class="main-page">
        <div class="search">
            <input type="text">
            <div class="upload">
                <a href="/upload">upload</a>
            </div> 
        </div>
    </div>

    <div class="files">

            <a href="" class="folder">
                <div>
                    <i class="fa-regular fa-folder"></i>
                </div>
                <div class="info">
                    work section name
                </div>
            </a>

    </div>
    <script src="js/JsBarcode.all.min.js"></script>
    <script src="js/home.js"></script>
</body>

</html>