<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/normail.css">
    <link rel="stylesheet" href="/style/preview.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Image</title>
</head>
<body>
    <div class="preview-container">
        <div class="img-preview">
            <img src="animal-89182.jpg" alt="Image Preview" crossorigin="anonymous">
        </div>
        <ul>
        </ul>
        <div class="img-info">
        </div>
    </div>
</body>
<script src="/script/jsBarcode.all.min.js"></script>
<script src="/script/pages/preview.js"></script>

</html>
