<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="adminDashBoard/style/style.css">
    <title>serach </title>
</head>
<body>
    <div class="pop-up" id="update-user-popUp">
        <div class="close_btn">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="popup-content">
            <h2>update image</h2>
            <form>
                <div>
                    <h4>ID</h4>
                    <input type="text" name="ID">
                </div>
                <div>
                    <input type="file" accept="image/*" id="file-input">
                </div>
                <div class="message"></div>
                <input type="submit" id="Btn" value="send">
        </div>
    </div>
    <div class="container">
        <aside>
            <div class="toggle">
                <div>
                    <h2>Folders<span class="danger"></span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>
            <div class="sidebar files">
                <a href="/home" class="folder active" >
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>home</h3>
                </a>

                <a href="/login" id="logout">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <main>
            <div class="new-section">
                <h2>search</h2>
                <div class="search-list" >
                    <div>
                        <input type="text" >
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
            <div class="new-section">
                <h2>upload</h2>
                <div class="section-list" >
                    <div class="user">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <svg id="barcode"></svg>
        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Reza</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="img/profile-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->
            <div>
                
            </div>

        </div>
        <!-- <div class="content">

            <table>
                <tr>
                    <td>
                        <svg id="barcode-1" width="156px" height="142px" x="0px" y="0px" viewbox="0 0 156 142" xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block;transform: translate(0,0);width: 100px;height: 100px;/* color: green; */"><rect x="0" y="0" width="156" height="142" style="fill:#ffffff;"></rect><g transform="translate(10, 10)" style="fill:#000000;"><rect x="0" y="0" width="4" height="100"></rect><rect x="6" y="0" width="2" height="100"></rect><rect x="12" y="0" width="2" height="100"></rect><rect x="22" y="0" width="2" height="100"></rect><rect x="32" y="0" width="2" height="100"></rect><rect x="38" y="0" width="4" height="100"></rect><rect x="44" y="0" width="2" height="100"></rect><rect x="48" y="0" width="8" height="100"></rect><rect x="60" y="0" width="2" height="100"></rect><rect x="66" y="0" width="2" height="100"></rect><rect x="72" y="0" width="2" height="100"></rect><rect x="76" y="0" width="4" height="100"></rect><rect x="88" y="0" width="4" height="100"></rect><rect x="96" y="0" width="6" height="100"></rect><rect x="106" y="0" width="2" height="100"></rect><rect x="110" y="0" width="4" height="100"></rect><rect x="120" y="0" width="6" height="100"></rect><rect x="128" y="0" width="2" height="100"></rect><rect x="132" y="0" width="4" height="100"></rect><text style="font: 20px monospace" text-anchor="middle" x="68" y="122">dsa</text></g></svg>
                    </td>
                </tr>
            </table>
        </div> -->

    </div>
     <script src="js/JsBarcode.all.min.js"></script>
     <script src="js/index.js"></script> 
     <script src="js/getData.js"></script>
    <script src="js/search.js"></script>

</body>

</html>