<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/upload.css">
    <title>Upload</title>
    <style>

    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Upload Your Image</h1>
            <input type="file" accept="image/*" id="file-input">
            <input type="button" value="send" id="upload-button">
            <div class="note">Supported formats: JPEG, PNG, GIF</div>
        </div>
        <div>
            <img id="image-preview" src="#" alt="Image Preview">
            
        </div>
    </div>
    <script src="/script/utils/js.cookie.min.js"></script>
    <script src="/script/utils/JsBarcode.all.min.js"></script>
    <script src="script/pages/upload.js"></script>
</body>
</html>
