$primary-color:#00A9FF;
$second-color:#89CFF3;
$third-color:#A0E9FF;
$fourth-color:#FBFBFB;

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans";
}

// @media (min-width:768px){
//     .container{
//         width: 750px;
//     }
//   }
//   @media (min-width:992px){
//     .container {
//         width: 970px;
//     }
//   }
//   @media (min-width:1200px) {
//     .container {
//         width: 1170px;
//     }
//   }
//   .container{
//     padding-left:  15px;
//     padding-right:  15px;
//     margin: 0 auto;
//   }
  
html{
    scroll-behavior: smooth;
}
body{
    background-color: $fourth-color;
    height: 100vh;
}

body{
    display: flex;
    gap: 30px;
    background-color: $second-color;
}
aside{
    width: 20%;
    background-color: $fourth-color;
    box-shadow: 3px 0px 25px  black;

    .admin-info{
        background-color: #89CFF3;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        div:first-of-type{
            display: flex;
        }
        div:last-of-type{
            padding-left: 10px;
            h6{
                padding-left: 10px;
                position: relative;
                &::before{
                    content: "";
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    background-color: #2ca961;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0%,-50%);
                }
            }
        }

        i{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 1px solid ;
            border-radius: 50%;
        }
        }

    h3{
        padding: 10px 0 5px 15px;
    }

    .link-container{
        a{
            font-size: 14px;
            padding: 15px 25px;
            display: flex;
            justify-content: space-between;
            // background-color: $third-color;
            text-decoration: none;
            // color:$fourth-color;
            transition: 0.4s;
            border-bottom: 1px solid $primary-color;
            text-transform: capitalize;
            color: black;
            &:hover{
            background-color: $primary-color;
            color: $fourth-color;

            }
        }
        .active{
            background-color: $primary-color;
            color: $fourth-color;
        }
    }
}

.content{
    border: 5px solid gray;
    padding: 20px;
    flex: 1;
    background-color: #FBFBFB;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    table{
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        text-transform: capitalize;
        background-color: $second-color;
        thead{
            background-color: gray;
            color: $fourth-color;
        }
        th{
            padding: 10px;
        }
        td{
            padding: 10px;
            background-color: #FBFBFB
        }
    }

 
}
